*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: auto;
  font-family: 'Goudy+Bookletter+1911';
}

/* Menu
 * --------------------------------------- */
 #menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 3px 6px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 30px;
	z-index: 70;
	width: 100%;
	padding: 0;
  margin:0;
  font-family: Arvo;
  font-size: .9em;
}
/* END Menu
 * --------------------------------------- */

#header {
  width: 100%;
  height: 64.8px;
  z-index: 8;
  position:absolute;
}
#header .content {

}
#header .content #logo {
  float: right;
  margin-top: 100px;
  width: 100%;
  background: url(/viz/sig.svg);
}
#svg1 {
  fill:rgba(0,0,0,0.01);
}
path {
  transition: all 4s;
}
.section {
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#svg1 {
  transition: all 4s;
  transform: skewY(0deg);
  transform-origin: 0;
}

#page7 { 
  font-family: 'Source Sans Pro', Arial, sans-serif; 

  text-transform: uppercase; 
  text-align: center; 
  letter-spacing: -3px; 
}

#page3 { 
  font-family: 'Source Sans Pro', Arial, sans-serif; 
  background: #becccc; 
  text-transform: uppercase; 
  color: #fff; 
  text-align: center; 
  letter-spacing: -3px; 
  background-image: url('../viz/unhappy.jpg');
  background-size: cover;
}
#page3 h3{
  bottom: 5%;
  width: 70%;
  margin: 0 auto;
  font-size:40px;
  position: absolute;
}

#page7 h2{
  width: 90%;
  margin: 0 auto;
  font-size: 70px;
  position: absolute;
  color:gold;
}

/*
text-shadow originated from: https://codepen.io/zitrusfrisch
*/
#page7 .superShadow {
  text-shadow:     0 1px 0 rgba(225, 225, 62,.74),
	                 0 2px 0 rgba(225, 225, 62,.72),
	                 0 3px 0 rgba(225, 225, 62,.7),
	                 0 4px 0 rgba(225, 225, 62,.68),
	                 0 5px 0 rgba(225, 225, 62,.66),
	                 0 6px 0 rgba(225, 225, 62,.64),
	                 0 7px 0 rgba(225, 225, 62,.62),
	                 0 8px 0 rgba(225, 225, 62,.6),
	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
}

#page7 strong{
  font-size:200px;
}

#page5 #container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

#page5 #left {
  float: left;
  height: 80vh;
  width: 50vw;
  shape-outside: polygon(100% 10.42%, 96.46% 16.79%, 90.11% 24.58%, 83.16% 33.69%, 78.54% 41.61%, 74.4% 49.26%, 70.84% 58.13%, 69.07% 65.42%, 68.78% 72.17%, 69.76% 78.97%, 72.36% 85.14%, 77.15% 91.55%, 83.82% 96.79%, 92.05% 99.5%, 99.42% 99.51%, 7px 98.41%, 2.41% 0.11%, 100.02% 0.23%);
}

#page5 #right {
  float: right;
  height: 80vh;
  width: 50vw;
  shape-outside: polygon(97.62% 3px, 97.75% 96.93%, 89.85% 96.54%, 18.08% 95.87%, 23.8% 90.92%, 27.84% 85.8%, 29.9% 79.77%, 30.72% 73.48%, 29.88% 66.59%, 28% 59.94%, 25% 53.15%, 20.84% 47.11%, 15.8% 40.36%, 10.74% 32.95%, 7.14% 27.15%, 4.85% 21.69%, 3.51% 17.3%, 3.58% 11.12%, 0.91% 12.02%, 1.03% 0.14%);
}

#page5 p {
  text-align: justify;
  hyphens: auto;
  font-size: 1.vw;
  color: yellow;
  font-family: 'Molle', cursive;
}

#page6 a { color: #FFF; }

#page6 #physicstext {
	display: block;
	margin: auto;
	margin-bottom: 1em;
	max-width: 100%;
	height: auto;
}

.p-canvas-webgl {
  position: fixed;
  z-index: 1;
  top: 0; left: 0;
}