*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: auto;
  font-family: 'Goudy+Bookletter+1911';
}

/* Menu
 * --------------------------------------- */
 #menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 3px 6px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 30px;
	z-index: 70;
	width: 100%;
	padding: 0;
  margin:0;
  font-family: Arvo;
  font-size: .9em;
}
/* END Menu
 * --------------------------------------- */

#header {
  width: 100%;
  height: 64.8px;
  z-index: 8;
  position:absolute;
}
#header .content {

}
#header .content #logo {
  float: right;
  width: 274.5px;
  height: 64.8px;
  background: url(/viz/sig.svg);
  background-size: 274.5px 64.8px;
}
#svg1 {
  fill:rgba(0,0,0,0.01);
}
path {
  transition: all 4s;
}
.section {
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

